a{ 
    color: white;
    text-decoration: none;
}
a:hover{ 
    text-decoration: none; 
    color: rgba(54, 210, 215, 0.672); 
}

body {
    background-color: rgba(15, 15, 15, 0.985);
    padding: 0;
    color: white;
    margin: 0;
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    margin: 20px 0px 20px 0px;
}

p{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hide{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0px);
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.navbar{
    display: flex;  
    color: black;
    padding: 25px 40px 40px 40px;
    text-align: center;
    justify-content: space-between;
    overflow: hidden;
    font-size: 25px;
}

.namebox{
    display: flex;
    align-items: center;
}

.aboutbox{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 20px 20px 20px;
    gap: 20px;
}

.professional-photo{
    display: flex;
    height: 80%;
    border: 20px 20px 20px 20px;
}

.photo {
    width: auto;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10%;
}

.about-me-text{
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    width: 100%;
    max-width: 800px;
}

.about-me{
    display: flex;
    padding: 20px 40px 20px 40px;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    align-items: center;
}

.skill-list{
    display: flex;
    justify-content: center;
}

.projectbox{
    margin: 40px 40px 40px 40px;
}

.project{
    display: flex;
    justify-content: center;
}

.wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 20px 20px 20px;
    width: 90%;
    border-radius: 2rem;
    gap: 5%;
}

.card {
    width: 700px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    border-radius: .75rem;
    background-size: cover;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 30px -5px rgba(255, 255, 255, 0.672);
}

.description{
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    width: 100%;
    max-width: 600px;
    font-size: 25px;
}

.form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    height: 500px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

input{
    height: 60px;
    padding: 0px 25px 0px 25px;
    font-size: 25px;
    border-radius: 50px;
}

textarea{
    resize: none;
    height: 200px;
    padding: 10px 25px 25px 25px;
    font-size: 20px;
    border-radius: 40px;
    
}

input, 
textarea{
    width: 600px;
    font-family: 'Courier New', Courier, monospace;
}

.form button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
}

input:focus,
textarea:focus,
.form button:focus{
    border-width: 5px;
    border-color: rgba(54, 210, 215, 0.672); 
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

.footer{
    font-size: 30px;
    padding: 10px 20px 40px 20px;
    margin-top: 80px;
}

.introduction{
    height: 100vh;
}

.introduction h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    color: white;
    white-space: nowrap;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    margin: 0rem;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.introduction h3 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(0.8rem, 3vw, 3rem);;
    color: white;
    white-space: nowrap;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    margin: 0rem;
    position: absolute;
    left: 50%;
    top: 65%;
    translate: -50% -50%;
}

.not-active{
    display: none;
}