@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container,
    input,
    textarea {
        max-width: 768px;
    }
}

/* md */
@media (max-width: 768px) {
    .container{
        max-width: 640px;
    }
    input,
    textarea{
        width: 100%;
    }
}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
    input,
    textarea{
        max-width: 400px;
    }
}

/* xs */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
    input,
    textarea{
        width: 100%;
    }
}

a{ 
    color: white;
    text-decoration: none;
    font-size: clamp(1rem, calc(0.8rem + 1vw), 2rem)
}

a:hover{ 
    color: rgba(54, 210, 215, 0.672); 
}

body {
    background-color: #05070d;
    padding: 0;
    color: white;
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    margin: 20px 0px 20px 0px;
    font-size: clamp(2.5rem, calc(2.2rem + 1.5vw), 4rem);
}

h2{
    margin: 20px 0px 20px 0px;
    font-size: clamp(2rem, calc(1.7rem + 1.5vw), 3.5rem)
}

h4{
    margin: 10px 0px 10px 0px;
    font-size: clamp(1.5rem, calc(1.3rem + 1vw), 2.5rem)
}

p{
    color: white;
    margin: 10px 0px 10px 0px;
    font-size: clamp(1rem, calc(0.8rem + 1vw), 2rem)
}

.hide{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0px);
}

.about-me{
    padding: 20px 40px 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    align-items: center;
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbar{
    display: flex;  
    color: black;
    padding: 25px 40px 40px 40px;
    text-align: center;
    justify-content: space-between;
    overflow: hidden;
    font-size: 25px;
}

.namebox{
    display: flex;
    align-items: center;
}

.aboutbox{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 20px 20px 20px;
    gap: 20px;
}

.professional-photo{
    display: flex;
    height: 80%;
    border: 20px 20px 20px 20px;
}

.photo {
    width: auto;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10%;
}

.about-me-text{
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    width: 100%;
    max-width: 800px;
}

.skills{
    padding: 40px 0px 40px 0px;
}

.skill-list{
    display: flex;
    justify-content: center;
}

.skill-list th{
    font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 2.2rem)
}

.skill-list td{
    font-size: clamp(1rem, calc(0.75rem + 0.9vw), 2rem)
}

.skill-list th, 
.skill-list td{
    padding: 10px 3vw 10px 3vw;
}

.project{
    display: flex;
    justify-content: center;
}

.wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 20px 20px 20px;
    width: 90%;
    border-radius: 2rem;
    gap: calc(2.2rem + 1.5vw);
}

.card {
    width: 700px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    border-radius: .75rem;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 30px -5px rgba(255, 255, 255, 0.672);
}

.description{
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    width: 100%;
    max-width: 600px;
    font-size: 25px;
}

.form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

input{
    height: 60px;
    padding: 0px 25px 0px 25px;
    font-size: 25px;
    border-radius: 50px;
}

textarea{
    resize: none;
    height: 200px;
    padding: 10px 25px 25px 25px;
    font-size: 20px;
    border-radius: 40px;
}

input, 
textarea{
    width: 600px;
    font-family: 'Courier New', Courier, monospace;
}

.form button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.form button:hover{
    border-width: 5px;
    border-color: rgba(54, 210, 215, 0.672); 
    background-color: rgba(54, 210, 215, 0.672); 
    color: white;
}

input:focus,
textarea:focus,
.form button:focus{
    border-width: 5px;
    border-color: rgba(54, 210, 215, 0.672); 
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

.footer{
    font-size: 30px;
    padding: 10px 20px 40px 20px;
    margin-top: 80px;
}

.introduction{
    height: 100vh;
}

.introduction h1,
.introduction h3{
    font-family: 'Space Mono', monospace;
    color: white;
    white-space: nowrap;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    margin: 0rem;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
}

.introduction h1{
    font-size: clamp(2.3rem, 10vw, 10rem);
    top: 50%;
}

.introduction h3{
    font-size: clamp(0.8rem, 3vw, 3rem);
    top: 65%;
}

.not-active{
    display: none;
}

@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {    
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
  
.background{
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
}
  
.stars {
    background: black url(../images/stars.png) repeat;
    background-size: 65%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}
  
.twinkling{
    width: 10000px;
    height: 100%;
    background: transparent url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png) repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
        
    -moz-animation:move-background 50s linear infinite;
    -ms-animation:move-background 50s linear infinite;
    -o-animation:move-background 50s linear infinite;
    -webkit-animation:move-background 50s linear infinite;
    animation:move-background 50s linear infinite;
}